#!/bin/bash
# A.R.B. Configuration File

share="$HOME/.local/share/arb"

## System
system_repo=""  # system repository
system_exclude="audisp brlapi.key ca-certificates crypttab default/useradd gshadow* iptables libaudit.conf mtab NetworkManager/system-connections pacman.d/gnupg polkit-1 .pwd.lock shadow* sudoers sudoers.d ufw"  # system exclude list

## Repo
name_repo="$HOME/.borg"                     # borg repository
name_exclude="$share/borg.ignore"           # borg exclude file
name_crypt="/tmp/$USER/name-crypt"          # gocryptfs encrypted dir
name_pass="name"                            # gocryptfs password
full_rsync="/mnt/backup/name"               # rsync destination dir
name_rclone=(nextcloud onedrive amazons3)   # rclone destination streams
