[Unit]
Description=Automatic Robust Backup

[Timer]
OnCalendar=daily
# OnCalendar=DayOfWeek Year-Month-Day Hour:Minute:Second 
# OnCalendar=*-*-* 12:00:00 # daily at noon
# OnCalendar=Sat *-*-1..7 # 18:00:00 # 1st saturday of every month 
Persistent=true

[Install]
WantedBy=default.target

